In [1]:
import pandas as pd
import datetime as dt

In [11]:
df = pd.read_csv('../data/processed/sentiments.csv')
player_info = pd.read_excel('../data/raw/players_info.xlsx')
df.head()

,Unnamed: 0,sentiments,user,tweet,hashtag,player
0,0,POSITIVE,beardsational,"I’m sorry, but if you received two party invit...","['TheCircle', 'TheCircleNetflix']",set()
1,1,POSITIVE,KingDelfrano,enjoying this season of #TheCircle so far… nob...,['TheCircle'],{'playereight'}
2,2,POSITIVE,KMJeezy,Ok I aint like Yu Ling at first but she is com...,['TheCircle'],{'playertwo'}
3,3,NEGATIVE,Blake_Jorgensen,I need someone to watch #TheCircle with me so ...,['TheCircle'],{'playeron'}
4,4,NEGATIVE,jceron12,I haven’t been seeing any tweets about #thecir...,"['thecircleseason3', 'TheCircle', 'TheCircleNe...",set()

In [12]:
df_player = df[df.player !='set()']

In [13]:


player_set = {'playerone', 'playertwo', 'playertheee', 'playerfour', 'playerfive',
              'playersix', 'playerseven', 'playereight', 'playernine',
              'playerten', 'playereleven', 'playertwelve'}

            
player_dict = dict(zip(list(player_info.full_name), list(player_info.playerno)))
player_list = list(player_info.full_name)

In [14]:
player_info[['full_name', 'playerno']]

         full_name     playerno
0            Frank     playeron
1       Yu Ling Wu    playertwo
2   Crissa Jackson    playerthr
3            Carol   playerfour
4           Alyssa      playerf
5              Bru    playersix
6             Paul  playerseven
7            Jared  playereight
8            Jared  playereight
9          Rachael    playernin
10          Nathan    playerten
11         Everson  playerelven
12          Imaani  playertwelv

In [15]:
df_player

,Unnamed: 0,sentiments,user,tweet,hashtag,player
1,1,POSITIVE,KingDelfrano,enjoying this season of #TheCircle so far… nob...,['TheCircle'],{'playereight'}
2,2,POSITIVE,KMJeezy,Ok I aint like Yu Ling at first but she is com...,['TheCircle'],{'playertwo'}
3,3,NEGATIVE,Blake_Jorgensen,I need someone to watch #TheCircle with me so ...,['TheCircle'],{'playeron'}
8,8,POSITIVE,borninthe1900s_,Bru shouldn't make my ovaries hurt but he does...,"['LoveMe', 'HaveMyBabies', 'theCircle']",{'playersix'}
9,9,NEGATIVE,HealthyRis,I’m so annoyed with this season. Why did the S...,['TheCircle'],"{'playertwo', 'playerf', 'playereight', 'playe..."
...,...,...,...,...,...,...
21991,21991,POSITIVE,brkichbuffs,i love alyssa so much she’s our WINNER yupp #T...,"['TheCircleNetflix', 'thecircle']",{'playerf'}
21992,21992,NEGATIVE,SuziGTV,Being bisexual is being attracted to Parker AN...,"['TheCircleNetflix', 'theCircle']",{'playerseven'}
21993,21993,POSITIVE,brkichbuffs,john is literally victor from bb18 omg #TheCir...,"['TheCircleNetflix', 'thecircle']",{'playerfour'}
22001,22001,NEGATIVE,ChantieMG,Just saw the Circle season 4 trailer and did I...,"['TheCircleNetflix', 'TheCircleUSA']",{'playereight'}
22004,22004,POSITIVE,adrianneromcel2,#TheCircleNetflix \n\nSpice Girl members Mel B...,['TheCircleNetflix'],{'playereight'}